$color-primary: #000000;
$color-point1: #3177FF;
$color-white: #fff;
$font-size-default: 100%;

$font-white: LeferiPoint-WhiteA;
$font-black: LeferiPoint-BlackA;
$font-regular: LeferiBaseType-RegularA;
$font-bold: LeferiBaseType-BoldA;